<h1>Show Card</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @card.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @card.content %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.card_path(@conn, :edit, @card) %></span> |
<span><%= link "Back", to: Routes.card_path(@conn, :index) %></span>
